{{ ld(result) }}
{% if result.results %}
    {% for hit in result.results %}
        <div>
            <div>{{ hit.title }}</div>
            <div>{{ hit.content }}</div>
        </div>
    {% endfor %}
{% endif %}